@import url(https://fonts.googleapis.com/css?family=Montserrat|Lato);

#subpage-title {
  	position:relative;
 	margin:0 auto;
 	background-size: contain;
 	background-repeat: no-repeat;
 	border-style: solid;
 	border-color: white;
 	border-width: 4px;
 	margin: 5px;
}

#subpage-title img {
	
  	left:0;
  	max-width: 100%;
	webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#subpage-title img.bottom {
	opacity: 0;

}

#subpage-title img.bottom:hover {
	opacity: 1;

}

.container {
	background-image: url('http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=34591103');
	background-repeat: repeat;
}

.slider {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: gray;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: gray;
	opacity: 1;
	background-color: white;

}
.background-img-contain {
	background-size: contain;
}
.subpage-title {
	width:100%; 
}

.footer {
	font-size: 70%;
}
.subscribe-form {
	padding:10px;
}

.link {
	text-decoration: none;

}



#container {
	min-height: 100%;
}

h2 {
	margin: 0px;
}

.logo-container {
	opacity: 1;
	position: absolute;
	top:20px;
	z-index: 5;
	max-width: 100%;
	padding:8px;
}


.slider-container {
	max-height: 80vh;
	margin-bottom: 0;
}

.slider-img {
	width: 100%;
}

.responsive-img {
	width: 100%;
	height:auto;
}

.navig-item-selected {
	color:'#ffffff';
}

.logo {
	max-width: 100%;
	height: auto;
	opacity: 1;
	z-index: 5;
}



.content-subpage {
	background-color: white;
}

.content-heading {
	padding-top:50px;


	color: black;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
	font-size:230%;
	letter-spacing: 0.05em;

    text-rendering: geometricPrecision;
    font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

.content-mainpage {
	width:100%;
	margin-top: 0;
	
}

.content-text {
	padding-top: 30px;
	padding-right: 100px;
	padding-left: 100px;
	
	margin-left: 40px;
	margin-right: 40px;
	color: black;
	font-size: 130%;
	letter-spacing: 0.1em;
	font-family: 'Lato', sans-serif;
	text-rendering: geometricPrecision;
    font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

.home-text {
	background-color: white;
	border-top:none;
	padding-top: none;
	padding-bottom: 40px;

}
