#subpage-title {
  	position:relative;
 	margin:0 auto;
 	background-size: contain;
}

#subpage-title img {
	
  	left:0;
  	max-width: 100%;
	webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#subpage-title img.bottom {
	opacity: 0;
}

#subpage-title img.bottom:hover {
	opacity: 1;
}

.background-img-contain {
	background-size: contain;
}
.subpage-title {
	width:100%; 
}

.subscribe-form {
	padding:10px;
}

