@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

#container {
	min-height: 100%;
}

h2 {
	margin: 0px;
}

.logo-container {
	opacity: 1;
	position: absolute;
	top:20px;
	z-index: 5;
	max-width: 100%;
	padding:8px;
}


.slider-container {
	max-height: 80vh;
	margin-bottom: 0;
}

.slider-img {
	width: 100%;
}

.responsive-img {
	width: 100%;
	height:auto;
}

.navig-item-selected {
	color:'#ffffff';
}

.logo {
	max-width: 100%;
	height: auto;
	opacity: 1;
	z-index: 5;
}

.content-mainpage {
	/*position:absolute;*/
	top:85%;
	background-color: black;
	background-size: 100%;
	background-repeat: repeat-y;
	width:100%;

	border-top-style: double;
	border-top-width: 5px;
	border-top-color: '#303030';
}

.content-subpage {
	position: absolute;
	top:50%;

}

.content-heading {
	font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    opacity: 1;
    padding-top:15px;
}
.content-text {
	padding:10px;
	margin: 10px;
	font-family:'Open Sans';
	color: white;
	font-size: 18px;
}
