@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
#footer {
	
	bottom: 0;
	z-index: 5;
	clear: both;
	display: inline;
}

#container {
	min-height: 100%;
}
h2 {
	margin: 0px;
}
.logo-container {
	opacity: 1;
	position: absolute;
	top:20px;
	z-index: 5;
	max-width: 100%;
	padding:8px;
}

.slider-container {
	max-height: 80vh;
}

.slider-img {
	width: 100%;
}

.responsive-img {
	width: 100%;
	height:auto;
}

.navig-item-selected {
	color:'#ffffff';
}

.logo {
	max-width: 100%;
	height: auto;
	opacity: 1;
	z-index: 5;
}

.content-mainpage {
	position:absolute;
	top:85%;
	background-image: url('http://cdni.wired.co.uk/1240x826/s_v/space_11.jpg');
	background-size: 100%;
	background-repeat: repeat-y;
	width:100%;

	border-top-style: double;
	border-top-width: 5px;
	border-top-color: '#303030';
}

.content-subpage {
	position: absolute;
	top:50%;

}

.content-heading {
	font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    opacity: 0.7;
    padding-top:15px;
}
.content-text {
	padding:10px;
	margin: 10px;
	font-family:'Open Sans';
}

}
.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}

/*.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	size:fixed;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

figure {
	width: 100%;
	height: 200px;
	margin: 0 0;
	padding: 10px;
	background: #fff;
	overflow: hidden;
	z-index: 3;

}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
	z-index: 3;
} */

div.center {
    margin:0 auto;
    display:block;
}
